<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template">
<head>
<title>Admin</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
            <link rel="stylesheet" href="animate.min.css" />
      
<!-- <link rel="stylesheet" type="text/css" th:href="@{/css/cardproject.css}" /> -->
<link rel="stylesheet" type="text/css" th:href="@{/css/test.css}" />



<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

</head>
<body>

	<div th:replace="_nav :: blackheader">...</div>
	<div th:replace="_nav :: header">...</div>
	<div th:replace="_nav :: navb">...</div>




<div class="container-fluid">
	<div class="row" style="margin-top: 60px;">
		<div class="col-md-4">
		
		<div class="jumbotron jumbotron-fluid shadowcard" style="background-color: #fefee0;">
					<div class="container">
						<h1 class="shadowtext text-danger">Gérer utilisateurs</h1>
						<p class="lead">Ajouter, modifier ou supprimer des utilisateurs.
						</p>
						  <a class="btn btn-lg degrade text-white" href="/admin/userlist" role="button">Accéder</a>
						
					</div>
				</div>
		
		</div>
		<div class="col-md-4">
		
		<div class="jumbotron jumbotron-fluid shadowcard" style="background-color: #fefee0;">
					<div class="container">
						<h1 class="shadowtext text-danger">Gérer<br> produits</h1>
						<p class="lead">Ajouter, modifier ou supprimer des produits.
						</p>
						  <a class="btn btn-lg degrade text-white" href="/admin/productlist" role="button">Accéder</a>
						
					</div>
				</div>
		
		</div>
		<div class="col-md-4">
		
		<div class="jumbotron jumbotron-fluid shadowcard" style="background-color: #fefee0;">
					<div class="container">
						<h1 class="shadowtext text-danger">Gérer commandes</h1>
						<p class="lead">Modifier ou supprimer des commandes.
						</p>
						  <a class="disabled btn btn-lg degrade text-white" href="/orders/orderlist" role="button">Accéder</a>
						
					</div>
				</div>
		
		</div>
	</div>
</div>






	<div th:replace="_nav :: buttonup">...</div>
	<div th:replace="_nav :: footer">...</div>


	<script src="https://unpkg.com/feather-icons"></script>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>

	<script type="text/javascript" th:src="@{/js/test.js}"></script>

</body>
</html>