<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template">
<head>
<title>List</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<!-- <link rel="stylesheet" type="text/css" th:href="@{/css/style2.css}" /> -->
<!-- <link rel="stylesheet" type="text/css" th:href="@{/css/body.css}" /> -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<!-- <link rel="stylesheet" type="text/css" th:href="@{/css/cardproject.css}" /> -->
<link rel="stylesheet" type="text/css" th:href="@{/css/test.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />




<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">


</head>
<body>

	<div th:replace="_nav :: blackheader">...</div>
	<div th:replace="_nav :: header">...</div>
	<div th:replace="_nav :: navb">...</div>
	
	
	
<!-- <div style="  text-align: center !important;"> -->
  
	<div class="center degrade">
<!-- 		<h1>Login</h1> -->
              <form class="login-form " name='f' th:action="@{/j_spring_security_check}" method='POST'>
			<div class="txt_field text-white">
				Nom d'utilisateur: <input type="text" name="username" required> <span></span>
				<label></label>
			</div>
			<div class="txt_field text-white">
				Mot de passe: <input type="password" name="password" required> <span></span>
				<label></label>
			</div>
			<div class="pass">Mot de passe oublié ?</div>
			<input type="submit" value="S'inscrire">
			<div class="signup_link">
				Pas encore membre? <a th:href="@{/users/create-account}">Se connecter</a>
			</div>
		</form>
	</div>
<!-- </div> -->

	<div th:replace="_nav :: buttonup">...</div>
	<div th:replace="_nav :: footer">...</div>
	
	<script src="https://unpkg.com/feather-icons"></script>
    <script type="text/javascript" th:src="@{/js/test.js}"></script>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>