<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template">
<head>
<title>List</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<!-- <link rel="stylesheet" type="text/css" th:href="@{/css/style2.css}" /> -->
<!-- <link rel="stylesheet" type="text/css" th:href="@{/css/body.css}" /> -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link rel="stylesheet" type="text/css" th:href="@{/css/orderstable.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/test.css}" />



<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">


</head>
<body>


	<div th:replace="_nav :: blackheader">...</div>
	<div th:replace="_nav :: header">...</div>
	<div th:replace="_nav :: navb">...</div>






	<div class="table-box">


		<div class=""
			style="font-weight: bold; text-align: center; font-size: 30px;"
			th:utext="'Commande : ' + ${order.num}"></div>


		<div class="table-row table-head">
			<div class="table-cell first-cell">
				<p>Produit</p>
			</div>
			<div class="table-cell">
				<p>Prix</p>
			</div>
			<div class="table-cell last-cell">
				<p>Quantité</p>
			</div>
		</div>

		<tr th:each="op:${orderproducts}">

			<div class="table-row">
				<div class="table-cell first-cell">
					<a th:href="@{'/products/details/' + ${op.id}}" class="text-dark">
						<p style="font-weight: bold; text-decoration: underline;"
							th:utext="${op.id}"></p> <img class="sizelittlelogo"
						th:src="${op.picture}" />
						<p style="font-weight: bold;" th:utext="${op.name}"></p>
					</a>
				</div>
				<div class="table-cell">
					<p style="font-weight: bold;" th:utext="${op.totalPrice} + ' €'"></p>
				</div>
				<div class="table-cell last-cell">

					<a style="font-weight: bold;" type="button" class="btn"
						th:href="@{'/users/me/order/remove/'+${op.id}}">-</a>
					<button type="button" class="btn text-white"
						style="background-color: #2931C9" th:utext="${op.quantity}"></button>

					<a style="font-weight: bold;"
						th:if="${op.stock > 0 and op.canBeAdd == true}" type="button"
						class="btn" th:href="@{'/users/add-to-order2/'+${op.id}}">+</a> <a
						th:if="${op.stock > 0 and op.canBeAdd == false}" type="button"
						class="btn"></a>
					<!-- 				<p style="font-weight: bold;" th:utext="${op.quantity}"></p> -->
				</div>
			</div>

		</tr>

		<div class="table-row degrade text-white"
			style="font-weight: bold; padding-right: 20px; text-align: center; font-size: 20px;"
			th:utext="'Prix total : ' + ${total} +' €'"></div>

		<div style="text-align: center; padding-top: 30px;">
			<a class="text-white navcolor" th:href="@{/users/payment}"
				role="button">Payer</a>
		</div>

	</div>



	<div th:replace="_nav :: footer">...</div>

	<script src="https://unpkg.com/feather-icons"></script>
	<script type="text/javascript" th:src="@{/js/test.js}"></script>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script type="text/javascript" th:src="@{/js/test.js}"></script>
		
</body>
</html>