<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template">
<head>
<title>Liste des produits</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<!-- <link rel="stylesheet" type="text/css" th:href="@{/css/style2.css}" /> -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link rel="stylesheet" type="text/css" th:href="@{/css/orderstable.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/test.css}" />



<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">


</head>

<body>
	<div th:replace="_nav :: blackheader">...</div>
	<div th:replace="_nav :: header">...</div>
	<div th:replace="_nav :: navb">...</div>
	
	 <div style="text-align: center; padding-top: 30px;">
			<a class="text-white navcolor" th:href="@{/admin/add-product}"
				role="button">Ajouter un produit</a>
		</div>


	<div class="table-box">
		<div class="table-row table-head">
			<div class="table-cell first-cell">
				<p>Id produit</p>
			</div>
			<div class="table-cell">
<!-- 				<p>Nom produit</p> -->
			</div>
			<div class="table-cell last-cell">
				<p></p>
			</div>
			<div class="table-cell last-cell">
				<p></p>
			</div>
		</div>

		<tr th:each="p:${productlist}">

			<div class="table-row">
				<div class="table-cell first-cell">
									<p th:utext="${p.id}" style="font-weight: bold;"></p>
				
					<img class="sizelittlelogo" th:src="${p.picture}" />
										<p style="font-weight: bold;" th:utext="${p.name}">
					
				</div>
<!-- 				<div class="table-cell"> -->
<!-- 					<p th:utext="${p.name}"></p> -->
<!-- 				</div> -->
				<div class="table-cell last-cell">
					<a th:href="@{'/admin/edit-product/'+${p.id}}">Modifier </a>
				</div>
				<div class="table-cell last-cell">
					<a
						onclick="confirm('Etes vous sur de vouloir supprimer ce produit')"
						th:href="@{'/admin/delete-product/'+${p.id}}">Supprimer </a>
				</div>
			</div>

		</tr>

	</div>

	<div th:replace="_nav :: buttonup">...</div>

	<div th:replace="_nav :: footer">...</div>

	<script src="https://unpkg.com/feather-icons"></script>
	<script type="text/javascript" th:src="@{/js/test.js}"></script>


	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>

</html>